<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans 
                http://www.springframework.org/schema/beans/spring-beans.xsd">
				
	<!-- 配置Service -->
	<bean id="tblAdminService" class="com.risingwind.service.impl.TblAdminServiceImpl" />
	<bean id="tblForumsService" class="com.risingwind.service.impl.TblForumsServiceImpl" />
	<bean id="tblPicService" class="com.risingwind.service.impl.TblPicServiceImpl" />
	<bean id="tblPostService" class="com.risingwind.service.impl.TblPostServiceImpl" />
	<bean id="tblReplyService" class="com.risingwind.service.impl.TblReplyServiceImpl" />
	<bean id="TblUserService" class="com.risingwind.service.impl.TblUserServiceImpl" />
	<!--  -->
</beans>